<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= person.name %></title>
</head>
<body>

    <header>
        <h1>HEADER</h1>
    </header>

    <main>
        <img src="<%= person.photo %>" alt="<%= person.name %>" class="photo">
        <h1><%= person.name %></h1>
        <p><%= person.description %></p>
    </main>

    <footer>
        <h1>FOOTER</h1>
    </footer>

</body>
</html>
